.box
{
    height: 10rem;
    width:10rem;
    /* border: 1px solid black; */
    margin: 5rem;
    /* background:radial-gradient(red,blue); */
    background: linear-gradient(red,blue);
    /* By default linear direction is from top to bottom, we can change it also */
    background: linear-gradient(to top,red,blue);

    background: linear-gradient(to right,purple, #663399);



}