/* CSS boiler plate */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

/* Styling */

img
{
    width: 40%;
    margin: 2rem;

    /* Filter property: */
    /* We can use filter property to edit our images. */

    /* filter:blur(2px);  */
    /* filter:brightness(1.5); */
    /* filter:contrast(2) ; */
    /* filter: grayscale(2); */
    filter: drop-shadow(10px 10px 20px black);

    /* Drop-shadow gives shadow around the image */
    /* etc (you can explore more on mdn website */

}