/* CSS boiler plate */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

/* Styling */


.box
{
    height: 380px;
    width: 300px;
    overflow: hidden;
}

.box img
{
    height: 100%;
    width:100%;
    object-fit:cover; 
    /* The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container. */
    /* It is similar to background-size property */
}

.box img:hover
{
    transform: scale(1.1);
    transition: all 1s ease-in;
}