/* CSS Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
html , body
{ 
height: 100%;
width: 100%;
}
/* Main styling starts here */

img
{
    margin: 10rem;
    height: 20rem;
    width: 10rem;
    /* box-shadow: 10px 10px 20px black; */
    filter: drop-shadow(10px 10px 20px black);
}


/* (filter: drop-shadow) gives result like box-sahdow if image is truly transparent in this case its not, also it works
similar like box-shadow */

/* result is not like what i wanted, b/c odf image. */