/* CSS Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
 }
html , body
{ 
height: 100%;
width: 100%;
}
/* Main styling starts here */
h1
{
    text-align:center;
}

/*  */
h1::after
{
    content: "Ammar, All good!";
}